@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-theYoungest bg-primary text-white leading-loose;
	}

	.h1 {
		@apply text-[72px] xl:text-[72px] leading-[1.1] font-semibold;
	}
	.h2 {
		@apply text-[36px] font-mavka xl:text-[48px] leading-[1.1] font-semibold;
	}
	.h3 {
		@apply text-[26px] font-mavka  xl:text-[34px] leading-[1.1] font-semibold;
	}
}

#bg-wrap {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
